/*
    Base Styling
*/

:root {
    --main-background-color: #242424;
    --secondary-color: #353535;
    --tertiary-color: #494949;
    --section-background: #242424e5;
}

html {
    scroll-behavior: smooth;
    background-color: var(--main-background-color);
    height: 100%;
}

@viewport {
    width: device-width;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: var(--secondary-color);}
::-webkit-scrollbar-thumb {background: var(--tertiary-color);}

body {
    background-color: var(--tertiary-color);
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* 
    Hyperlink Styling 
*/
a:link {
    text-decoration: none;
    color: #d6d6d6;
}

a:visited {
    text-decoration: none;
    color: #d6d6d6;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #036800;
}

/* 
    Base.html: header + footer
*/

header {
    height: min-content;
}

nav {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    position: relative;
    background-color: var(--main-background-color);
    overflow: hidden;
    border-bottom: 2px solid var(--tertiary-color);
}


.leftnav {
    grid-area: left;
    float: left;
    list-style: none;
    color: white;
}

.rightnav {
    grid-area: right;
    float: right;
    list-style: none;
    color: white;
    padding-right: 5%;
    padding-top: 4%;
}

main {
    color: #ffffff;
}

#index {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "welcome news"
                         "login news"
                         "register news";
    color: #ffffff;
}

footer {
    grid-area: footer;
    text-align: center;
    color: #ffffff;
    background-color: var(--main-background-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1% 0% 1% 0%;
}

ul.nav {
    margin-top: 0%;
    margin-bottom: 0%;
}

#logo {
    width: 10%;
    margin-left: 3%;
    margin-top: .5%;
}

/*
    index.html
*/

#index {
    height: 88.7vh;
}

#welcome {
    grid-area: welcome;
    text-align: center;
    margin-right: 12%;
    margin-top: 8%;
    font-size: 60px;
}

#register {
    grid-area: register;
    text-align: center;
    margin-right: 12%;
    margin-top: 6%;
    height: fit-content;
}

#login {
    grid-area: login;
    text-align: center;
    margin-right: 12%;
    padding-top: 6%;
    margin-bottom: 2%;
}

#news {
    grid-area: news;
    text-align: center;
    background-color: var(--main-background-color);
    border-left: 2px solid var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    overflow: scroll;
    overflow-x: hidden;
    height: auto !important;
    height: 88vh;
}

ul {
    list-style: none;
    padding-left: 0%;
}

.bloglist {
    border: 1px solid var(--tertiary-color);
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 0.25%;
    padding-right: 0.25%;
}

li > :first-child {
    margin-bottom: 0%;
}

li > :nth-child(2) {
    margin-top: 0%;
    color: #d6d6d6;
    font-style: italic;
}

li > a {
    font-size: 22px;
}

h2 {
    font-size: 35px;
}

/*
    register.html
*/

form {
    width: auto;
}

label {
    font-size: 20px;
}

#submit {
    color: #ffffff;
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    text-align: center;
}

.login-register-link {
    padding: 15px;
}

.register {
    text-align: center;
}

.register-control {
    margin-top: 0.5%;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    font-size: 18px;
}

section.register > form {
    text-align: left;
    width: min-content;
}

section.register {
    margin-left: clamp(10% 40% 45%);
    margin-right: clamp(10% 40% 45%);
    margin-bottom: clamp(20% 30% 40%);
    text-align: center;
    justify-content: center;
    display: grid;
}

h1.register {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
}

/*
    login.html
*/

.login {
    text-align: center;
}
.login-control {
    margin-top: 0.5%;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    font-size: 18px;
}

section.login > form {
    text-align: left;
    width: min-content;
}

section.login {
    margin-left: clamp(10% 40% 45%);
    margin-right: clamp(10% 40% 45%);
    margin-bottom: clamp(20% 30% 40%);
    text-align: center;
    justify-content: center;
    display: grid;
}

h1.login {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1%;
}

table {
    
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    border: 1px solid var(--tertiary-color);
}


/*
    store.html
*/


/*
    tournament_details.html
*/

#back_to_store {
    grid-area: back_to_store;
    font-size: 25px;
    text-align: center;
    position: absolute;
    padding: 0 10px 5px 10px;
    background-color: var(--section-background);
    border-radius: 10px 0px 10px 0px;
    border-right: 1px solid var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
    color: #ffffff;
}

div { overflow: hidden; display: block;}

    
section.tournament_details {
    background-color: var(--section-background);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "details_top details_top"
                         "details_date details_time"
                         "details_entry details_prize"
                         "details_description details_description"
                         "add_to_cart add_to_cart"
                         "other other";
    overflow-y: scroll;
    height: 75vh;
}

section.tournament_details > h1 {
    grid-area: details_top;
    font-size: 40px;
    margin-bottom: 4%;
}

/* date */
section.tournament_details > :nth-child(2) {
    grid-area: details_date;
    margin-top: 0%;
    text-align: right;
    margin-right: 20%;
}

section.tournament_details > :nth-child(3) {
    grid-area: details_time;
    margin-bottom: 2%;
    text-align: left;
    margin-left: 20%;
}

/* entry fee */
section.tournament_details > :nth-child(4) {
    grid-area: details_entry;
    margin-top: 0%;
    text-align: right;
    margin-right: 20%;
}

/* prize money */
section.tournament_details > :nth-child(5) {
    grid-area: details_prize;
    margin-bottom: 2%;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 5%;
}

/* description */
section.tournament_details > :nth-child(6) {
    grid-area: details_description;
    margin: 0 12% 4% 12%;
    text-align: center;
    border-top: 3px solid var(--tertiary-color);
    padding-top: 2%;
    border-bottom: 3px solid var(--tertiary-color);
    padding-bottom: 2%;
}

/* add to cart button */
section.tournament_details > :nth-child(7) {
    grid-area: add_to_cart;
    font-size: 30px;
    background-color: var(--tertiary-color);
    margin-bottom: 2%;
}

section.tournament_details > :nth-child(7) > a {
    color: #ffffff;
}

section.tournament_details > p {
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 25px;
}

.other_details {
    grid-area: other;
    text-align: left;
    margin: 2%;
}

summary {
    background-color: var(--tertiary-color);
    font-size: 25px;
}

details {
    background-color: var(--tertiary-color);
    border: #242424 1px solid;
    border-radius: 10px;
    padding: 1%;
}

/*
    cart.html
*/

section.cart {
    background-color: var(--section-background);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    height: 75vh;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10%;
    grid-template-areas: "cart_top cart_top"
                         "cart_content cart_content"
                         "logout checkout";
}

section.cart > h1 {
    grid-area: cart_top;
    text-align: center;
    font-size: 35px;
    height: fit-content;
}

table.cart {
    grid-area: cart_content;
}

#cart_total {
    background-color: var(--tertiary-color);

}

#cart_logout {
    grid-area: logout;
    font-size: 25px;
}

#cart_checkout {
    grid-area: checkout;
    font-size: 25px;
}