{% extends "base.html" %}

{% block main_content %}
<section class="cart">
<a href="{{ url_for('store') }}" id="back_to_store"> &#60; Back to store</a>
<h1>Your Cart</h1>
{% if cart %}
    <table class="cart">
            <tr>
                <th colspan="2">Item</th>
                <th>Price</th>
            </tr>
        {% for tournament_id in cart %}
            <tr>
                <td>Entry Ticket for {{ items[tournament_id] }}</td>
                <td><a href="{{ url_for('remove_from_cart', tournament_id=tournament_id) }}">Remove</a></td>
                <td>€ {{prices[tournament_id] }}</td>
            </tr>
        {% endfor %}
        <tr id="cart_total">
            <td colspan="2">Total</td>
            <td>€ {{ total }}</td>
    </table>
{% else %}
    <p id="cart_empty">Your cart is empty!</p>
{% endif %}
<a href="{{ url_for('logout') }}" id="cart_logout">Logout</a>
<a href="{{ url_for('checkout') }}" id="cart_checkout">Checkout</a>
</section>

{% endblock %}