{% extends "base.html" %}

{% block main_content %}

<section id="index">
    <h1 id="welcome">Welcome the CTC webpage!</h1>
    <section id="login">
        <a href="{{ url_for('login') }}">Click to log in</a>
    </section>
    <section id="register">
        <a href="{{ url_for('register') }}">New user? Click to register</a>
    </section>
    <section id="news">
        <h2>News</h2>
        <ul>
            {% for blog in news %}
            <li class="bloglist">
                <h3>{{ blog["title"] }}</h3>
                <p>{{ blog["date"] }}</p>
                <p>{{ blog["content"] }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock %}