{% extends "base.html" %}

{% block main_content %}
<section class="login">
    <h1 class="login">LOG IN</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        <br />
        {{ form.username(class_="login-control") }}
        <br />
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form.password.label }}
        <br />
        {{ form.password(class_="login-control") }}
        <br />
        {% for error in form.password.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form.submit() }}
    </form>
</section>
<a href="{{ url_for('register') }}" class="login-register-link" id="login-register-link">New user? Click here to register.</a>

{% endblock %}