{% extends "base.html" %}

{% block main_content %}
<section class="register">
    <h1 class="register">REGISTER</h1>
    <form action="" method="post" novalidate id="registerform">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        <br />
        {{ form.username(class_="register-control") }}
        <br />
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form.password.label }}
        <br />
        {{ form.password(class_="register-control") }}
        <br />
        {% for error in form.password.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form.password2.label }}
        <br />
        {{ form.password2(class_="register-control") }}
        <br />
        {% for error in form.password2.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form.submit(class_="submit-register") }}
    </form>
    <a href="{{ url_for('login') }}" class="login-register-link">Already have an account? Sign in.</a>
</section>
{% endblock %}