{% extends "base.html" %}

{% block main_content %}
<section id="upcoming-events-wrap">
<h1>Upcoming Events</h1>
<section id="upcoming-events">
    {% for tournament in tournaments %}
        <section>
            <h2>{{ tournament["name"] }}</h2>
            <p>Date: {{ tournament["date"] }}</p>
            <p>Entry Fee: €{{ tournament["entry_fee"] }}</p>
            <p><a href="{{ url_for('tournament_details', tournament_id=tournament['tournament_id'])}}">See details</a></p>
        </section>
    {% endfor %}
</section>
</section>
{% endblock %}